In [27]:
import pandas as pd

deepctr = pd.read_csv("b_deepctr.csv")
lgb = pd.read_csv("b_lgb.csv")
res = pd.read_csv("b_res.csv")

In [28]:
data = deepctr.merge(lgb, on=['userid', 'feedid'], how='left')
data.head()

,userid,feedid,read_comment_x,like_x,click_avatar_x,forward_x,read_comment_y,like_y,click_avatar_y,forward_y
0,116490.0,18545.0,0.016497,0.033297,0.007445,0.006151,0.005253,0.004040,0.002713,0.001041
1,19265.0,53010.0,0.009574,0.075893,0.009273,0.009068,0.002428,0.019188,0.001839,0.002033
2,194374.0,9003.0,0.005455,0.017499,0.004260,0.003154,0.000050,0.002923,0.001323,0.000999
3,19414.0,75730.0,0.003322,0.012692,0.041816,0.004051,0.001936,0.004023,0.006123,0.001038
4,6434.0,17863.0,0.013402,0.226137,0.035111,0.017273,0.005639,0.043681,0.007791,0.003924

In [29]:
data['read_comment'] = (0.7*data['read_comment_x']+0.3*data['read_comment_y'])
data['like'] = (0.3*data['like_x']+0.7*data['like_y'])
data['click_avatar'] = (0.6*data['click_avatar_x']+0.4*data['click_avatar_y'])
data['forward'] = (0.7*data['forward_x'] + 0.3*data['forward_y'])

In [30]:
cols = ['userid', 'feedid', 'read_comment', 'like', 'click_avatar', 'forward']
result = data[cols].merge(res, on=['userid', 'feedid'], how='left')

In [31]:
data[cols].head()

     userid   feedid  read_comment      like  click_avatar   forward
0  116490.0  18545.0      0.013124  0.012817      0.005552  0.004618
1   19265.0  53010.0      0.007430  0.036200      0.006299  0.006957
2  194374.0   9003.0      0.003833  0.007296      0.003085  0.002508
3   19414.0  75730.0      0.002906  0.006623      0.027539  0.003147
4    6434.0  17863.0      0.011073  0.098418      0.024183  0.013268

In [32]:
data = data[cols].merge(res, on=['userid', 'feedid'], how='left')

In [33]:
data.head()

,userid,feedid,read_comment_x,like_x,click_avatar_x,forward_x,read_comment_y,like_y,click_avatar_y,forward_y
0,116490.0,18545.0,0.013124,0.012817,0.005552,0.004618,0.009407,0.014236,0.007862,0.000286
1,19265.0,53010.0,0.007430,0.036200,0.006299,0.006957,0.002136,0.055866,0.002407,0.000584
2,194374.0,9003.0,0.003833,0.007296,0.003085,0.002508,0.000517,0.006872,0.000465,0.000072
3,19414.0,75730.0,0.002906,0.006623,0.027539,0.003147,0.000637,0.006708,0.035073,0.000247
4,6434.0,17863.0,0.011073,0.098418,0.024183,0.013268,0.009339,0.213789,0.015130,0.005212

In [34]:
data['read_comment'] = (0.3*data['read_comment_x']+0.7*data['read_comment_y'])
data['like'] = (0.7*data['like_x']+0.3*data['like_y'])
data['click_avatar'] = (0.7*data['click_avatar_x']+0.3*data['click_avatar_y'])
data['forward'] = (0.7*data['forward_x'] + 0.3*data['forward_y'])

In [35]:
data[cols].to_csv("res.csv")